a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding: 36px;
}

.top-nav {
    display: flex;
}

.nav-links {
    display: flex;
    align-items: center;
    padding: 36px;
    gap: 24px;
}

.logo {
    display: flex;
    width: 300px;
    margin-right: auto;
}

.hero {
    display: flex;
    align-items: center;
    padding: 72px;
}

.hero-img {
    display: flex;
    padding: 100px;
    width: 400px;
    flex-shrink: 1;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    color: white;
    flex: 1;
}

.cta-button {
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    padding: 12px;
    color: white;
    font-weight: 800;
    text-decoration: none;
    font-size: 16px;
}