a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.top-nav {
    display: flex;
}

.nav-links {
    display: flex;
    align-items: center;
    padding: 36px;
    gap: 24px;
}

.logo {
    display: flex;
    width: 300px;
    margin-right: auto;
    padding: 24px;
}

.hero {
    display: flex;
}

.call-to-action {
    display: flex;
    flex-direction: column;
}